body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.header {
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 10px 20px;
  grid-column: span 2;
  width: 100%;
  max-width: 100%;
  align-items: center;
}

h1 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
  grid-column: span 2;
}

h2 {
  color: #333333;
  font-size: 24px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  grid-column: span 2;
}

h3 {
  color: #333333;
  font-size: 20px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center;
  grid-column: span 2;
}

.section {
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 20px;
  grid-column: span 2;
}

.section.compact {
  padding-top: 10px;
  padding-bottom: 20px;
}

.species-settings.compact {
  padding-top: 10px;
  padding-bottom: 20px;
}

.species-settings h2 {
  margin-top: 10px;
}

.species-settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.label-input-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.subsection {
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 20px;
  grid-column: span 1;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.label-input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555555;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-group button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  grid-column: span 2;
}

button:hover {
  background-color: #0056b3;
}

.creature-profile {
  background-color: #eef;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.creature-profile p {
  margin: 0;
}

/* Popup styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.popup-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 20px;
}

.creature-profile {
  background-color: #eef;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
}

.creature-profile p {
  margin: 5px 0;
}

.delete-btn {
  background: #ff4d4d;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 28%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.delete-btn[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -25px;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}
.color-spot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 0px;
  display: inline-block;
  border: 0px solid #ccc;
}

.close-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  grid-column: span 2;
}

.close-btn:hover {
  background-color: #cc0000;
}

.creature-profile {
  background-color: #eef;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: left;
}

.creature-profile p {
  margin: 5px 0;
}

.button-group {
  display: flex;
  justify-content: space-between;
  grid-column: span 2;
}

.button-group button {
  flex: 1;
  margin: 0 5px;
}

.button-group button:first-child {
  margin-left: 0;
}

.button-group button:last-child {
  margin-right: 0;
}
