body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.results-container {
  max-width: 1500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.page-actions {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

h1 {
  color: #333333;
  margin-bottom: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

video {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

video:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 100%;
}

.chart {
  width: 100%;
  max-width: 700px;
  min-height: 350px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chart:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.loading {
  text-align: center;
  font-size: 24px;
  color: #666666;
  margin-top: 100px;
}

.toggle-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.toggle-button:hover {
  background-color: #45a049;
}
